<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>hello</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/css/css.css}" rel="stylesheet" type="text/css" />
	</head>
    <body>
     <div id="main">
     	 <!-- header -->
         <div id="header" th:include = "template::header"></div>
         <!-- sidebar -->
         <div id="sidebar" th:include = "template::sidebar">></div>
         <!-- contents -->
         <div id="contents">
         	<div id="output_Name">
         		<output th:text="'Hello&nbsp;' + ${name} + '!!'" ></output>
         	</div>
         </div>
         <!-- footer -->
         <div id="footer" th:include="template::footer"></div>
         
     </div>
    </body>
</html>
