<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>hello</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/css/css.css}" rel="stylesheet" type="text/css" />
	</head>
    <body>
     <div id="main">
     
         <div id="header">
             <h1>Header Text ...</h1>
         </div>
         
         <div id="sidebar">
        	<div class="home_link">
         		<a href="/">Home</a>
         	</div>
         	 <div class="form_link">
         		<a href="/form">Go form!</a>
         	</div>
         </div>
         
         <div id="contents">
         	<div id="output_Name">
         		<output th:text="'Hello&nbsp;' + ${name} + '!!'" ></output>
         	</div>
         </div>
         
         <div id="footer">
             <hr>
             <address>Copy Right ...</address>
         </div>
         
     </div>
    </body>
</html>
