<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/css/css.css}" rel="stylesheet" type="text/css" />
	</head>
    <body>
    <div id="main">
     	 <!-- header -->
         <div th:replace = "template::template-header"></div>
         <!-- sidebar -->
         <div th:replace = "template::template-sidebar"></div>
         <!-- contents -->
         <div id="contents"><h1>First Page!</h1></div>
         <!-- footer -->
         <div th:replace ="template::template-footer"></div>
     </div>
    </body>
</html>
