<!-- template file -->
<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/css/css.css}" rel="stylesheet" type="text/css" />
	</head>
    <body>
     <div id="main">
     <!-- header -->
         <div id="header" th:fragment="template-header">
             <h1>Header Text ...</h1>
         </div>
	<!-- sidebar -->
         <div id="sidebar" th:fragment="template-sidebar">
        	<div class="home_link">
         		<a href="/">Home</a>
         	</div>
         	<div class="form_link">
         		<a href="/form">Go form!</a>
         	</div>
         </div>
 	<!-- contents -->
         <div id="contents" th:fragment="template-contents"></div>
	<!-- footer -->
         <div id="footer" th:fragment="template-footer">
             <hr>
             <address>Copy Right ...</address>
         </div>
   	<!-- end body -->
     </div>
    </body>
</html>