/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body{
    font-size:12pt;
    font-family: ÉÅÉCÉäÉI,osaka;
}

#main{
    width:800px;
    margin:auto;
}

#header{
}

#sidebar{
    width:250px;
    float:left;
    background-color:#00ff00;
}

#contents{
    width: 550px;
    float:right;
    background-color:#0000ff;
}

#footer{
    clear:both;
    margin-top: 340px;
}